<!doctype html>
<html lang="en">
<head>
  <%- include('partials/header') %>
</head>
<body class="dark">
  <%- include('partials/navbar') %>

  <div class="container py-md-5 container--narrow footer-padding">
    <%- include('includes/profileShared') %>

      <% if (userPosts.length) { %>
        <div class="list-group">
          <% userPosts.forEach(post => { %>
            <a href="/@<%= post.author.username %>/post/<%= post.slug %>" target="_blank" class="list-group-item list-group-item-action">
              <h4><strong><%= post.title %></strong></h4>
              <hr>
              <img loading="lazy" class="avatar-tiny" src="<%= post.author.avatar %>"> <strong><%= post.author.username %></strong> ✦ <%= helpers.formatDate(new Date(post.$createdAt)) %>
              <hr>
              <div class="post-meta">
                <% if (post.visibility === 'public') { %>
                  <div class="visibility-status public">
                    <i class="material-icons mr-1">visibility</i>
                    <span>Publicly Visible</span>
                  </div>
                <% } %>
                <% if (post.visibility === 'followers') { %>
                  <div class="visibility-status followers">
                    <i class="material-icons mr-1">visibility_off</i>
                    <span>Visible To Followers Only</span>
                  </div>
                <% } %>
                <% if (post.visibility === 'private') { %>
                  <div class="visibility-status private">
                    <i class="material-icons mr-1">face</i>
                    <span>Visible To You</span>
                  </div>
                <% } %>

                <div class="d-flex">
                  <div class="post-status mr-2">
                    <i class="material-icons mr-1">favorite</i>
                    <span>1.1K</span>
                  </div>
                  <div class="post-status">
                    <i class="material-icons mr-1">bookmark</i>
                    <span>745</span>
                  </div>
                </div>
              </div>
            </a>
          <% }) %>
        </div>
      <% } else { %>
        <div class="text-center">
          <img loading="lazy" src="/images/no-post-state.png" alt="...">
          <p>Nothing to see here</p>
        </div>
      <% } %>
  </div>

  <%- include('partials/footer') %>
</body>
</html>